/* Reset default padding and margin for common elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and full viewport size for better responsiveness */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the main form container */
.mainForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

/* Style the heading */
.heading {
  font-size: 30px;
  text-align: center;
  color: #333;
  margin: 10px 0;
}

/* Style the first content block */
.firstBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

/* Style the second content block */
.secondBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

/* Style the image upload section */
.image-upload h2 {
  font-size: 20px;
  color: #3498db;
  margin: 10px 0;
}

.image-upload img {
  cursor: pointer;
  border: 3px solid #3498db;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: 200px;
  width: 200px;
  margin-top: 15px;
}

.image-upload img:hover {
  transform: scale(1.05);
}

/* Style the uploaded image */
#uploaded-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Style the caption form */
.caption-section h2 {
  font-size: 20px;
  color: #3498db;
  margin: 10px 0;
}

#caption-form textarea {
  height: 115px;
  width: 600px;
  margin: 15px 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #3498db;
  transition: border 0.3s ease-in-out;
}

#caption-form textarea:hover {
  border-color: #ff6b3d;
}

/* Style the button */
.button button {
  margin: 20px 0;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-weight: 600;
  background: linear-gradient(45deg, #3498db, #ff6b3d);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border: none;
  transition: background 0.3s ease-in-out;
  text-transform: uppercase;
}

.button button:hover {
  background: linear-gradient(45deg, #ff6b3d, #3498db);
}

/* Style the caption container */
#caption p {
  background-color: #3498db;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  word-wrap: break-word;
  height: 100px;
  width: 700px;
}

#caption button {
  margin: 20px 0;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-weight: 600;
  background: linear-gradient(45deg, #3498db, #ff6b3d);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border: none;
  transition: background 0.3s ease-in-out;
  text-transform: uppercase;
}

#caption button:hover {
  background: linear-gradient(45deg, #ff6b3d, #3498db);
}

/* Responsive Design */
@media (max-width: 768px) {
  .heading {
    font-size: 20px;
    padding-top: 100px;
    font-weight: 600;
  }

  .firstBlock {
    flex-direction: column;
    margin: 0;
  }

  .image-upload img {
    height: 100px;
    width: 100px;
  }

  #caption-form textarea {
    height: 150px;
    width: 300px;
  }

  #caption p {
    width: 300px;
  }

  #caption-form textarea {
    height: 100px;
    width: 300px;
    margin: 5px 0;
  }

  .button button {
    height: 50px;
    width: 300px;
    font-size: 15px;
  }

  #caption button {
    height: 50px;
    width: 300px;
    font-size: 15px;
  }
}
